/* ===== Search ===== */
.search-img {
    max-width: 16rem;
    margin-bottom: -2rem;
}

.search-card {
    max-width: 30rem;
}

/* ===== User ===== */
.user-card {
    max-width: 50rem;
}

.img-user {
    max-width: 8rem;
}